html {
    min-height: 100%;
    position: relative;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(15deg, #0d9de3 10%, #01bfff 20%, #00ccff 35%, #f1f1f1 60%, #7f9ba6);
}

.header {
    text-align: center;
}

.header > h1 {
    font-size: 60px;
    color: #4e6969;
}

.content {
    max-width: 1000px;
    padding: 10px;
    margin: auto;
    margin-bottom: 50px;
    border: 3px solid #4e6969;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    color: #f1f1f1;
}

.content-header {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city-name {
    text-align: right;
    color:#4e6969;
}

.city-name-header {
    font-size: 45px;
}

.searchbar-container {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.search-form {
    height: 30px;
    display: flex;
    align-items: center;
    border: 2px solid #4e6969;
    border-radius: 5px;
    background-color: white;
}

#search {
    height: 25px;
    width: 90%;
    font-size: 20px;
    flex-grow: 1;
    border: none;
}

#search:focus {
    outline: none;
}

#search-button {
    width: 10%;
    height: 25px;
    border: none;
    background: white url(./Icons/magnify.svg) no-repeat center;
}

.error { 
    display: none;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
}

.error > p {
    margin: 0;
}

.current-weather {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.current-weather-data {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
    border: 1px solid #4e6969;
    border-radius: 10px;
    background-color: #0d9de3;
}


.temperature {
    font-size: 70px;
    margin: 0;
}

.wind-and-feel {
    display: flex;
    flex-direction: column;
}

.wind-and-feel > p {
    font-size: 30px;
    margin: 0;
}

.icon-and-description {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #4e6969;
    border-radius: 10px;
    background-color: #0d9de3;
}

.icon-and-description > p {
    font-size: 30px;
    margin: 0;
}

#current-description-image {
    height: 200px;
}

.five-day-forecast {
    max-height: 250px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
}

.hourly-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid #4e6969;
    border-radius: 10px;
    background-color: #0d9de3;
}

.weekday-and-time {
    font-size: 26px;
    font-weight: bold;
    border-bottom: 3px solid #f1f1f1;
}

.data-container {
    padding: 10px;
    width: 67%;
    display: flex;
    justify-content: space-between;
    border: 3px solid #4e6969;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #87cefa;
    color: #4e6969;
}

.hourly-precipitation-chance, .hourly-description {
    display: flex;
    align-items: center;
    gap: 5px;
}

.temp-data, .sky-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hourly-temperature, .hourly-feels-like, .hourly-precipitation-chance > p, .hourly-description > p {
    font-size: 20px;
    text-align: center;
}

#precipitation-icon, .hourly-description > img {
    height: 50px;
}

.five-day-forecast::-webkit-scrollbar {
    width: 0.5em;
}

.five-day-forecast::-webkit-scrollbar-thumb {
    background-color: #0d9de3;
    border: 1px solid #4e6969;
    border-radius: 5px;
    height: 40px;
}

@media screen and (max-width: 1100px) {
    .content {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 800px) {
    .current-weather-data, .icon-and-description {
        width: 220px;
        height: 220px;
    }

    .temperature {
        font-size: 55px;
    }

    .wind-and-feel > p, .icon-and-description > p {
        font-size: 20px;
    }

    #current-description-image {
        height: 150px
    }

    .data-container {
        width: 80%;
    }

    .hourly-temperature, .hourly-feels-like, .hourly-precipitation-chance > p, .hourly-description > p {
        font-size: 18px;
    }
    
}

@media screen and (max-width: 600px) {
    .header > h1 {
        font-size: 45px;
    }
    
    .content {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .searchbar-container {
        width: 150px;
    }

    #search {
        font-size: 15px;
    }
    
    .city-name-header {
        font-size: 40px;
    }
    
    .current-weather-data, .icon-and-description {
        width: 150px;
        height: 150px;
    }

    .temperature {
        font-size: 45px;
    }

    .wind-and-feel > p, .icon-and-description > p {
        font-size: 18px;
    }
    
    #current-description-image {
        height: 120px
    }

    .data-container {
        width: 90%;
    }

    .hourly-temperature, .hourly-feels-like, .hourly-precipitation-chance > p, .hourly-description > p {
        font-size: 16px;
    }

    #precipitation-icon, .hourly-description > img {
        height: 40px;
    }
}

@media screen and (max-width: 440px) {
    .searchbar-container {
        width: 120px;
    }
    
    .search-form {
        height: 20px;
    }

    #search {
        font-size: 12px;
        height: 15px;
    }

    #search-button {
        height: 15px;
    }
    
    .city-name-header {
        font-size: 30px;
    }
    
    .current-weather-data, .icon-and-description {
        width: 110px;
        height: 110px;
    }

    .temperature {
        font-size: 30px;
    }

    .wind-and-feel > p, .icon-and-description > p {
        font-size: 14px;
    }

    #current-description-image {
        height: 80px
    }

    .data-container {
        border: 1px solid #4e6969;
    }

    #precipitation-icon, .hourly-description > img {
        height: 30px;
    }

    .hourly-temperature, .hourly-feels-like, .hourly-precipitation-chance > p, .hourly-description > p {
        font-size: 12px;
    }

    .hourly-precipitation-chance, .hourly-description {
        gap: 2px;
    }

    .five-day-forecast::-webkit-scrollbar {
        width: 0;
    }
}